* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: beige;
    background-color: black;
    padding: 20px;
}

header .my-title {
    font-size: 48px;
    margin: 15px;
    text-align: center;
}

.navegation {
    margin-top: 50px;
}

.navegation ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.navegation li {
    text-align: center;
}

.navegation a {
    margin: auto;
    text-decoration: none;
    color: beige;
    cursor: pointer;
    font-size: 18px;
}

.container-noticia1 {
    background-color: rgba(0, 199, 167, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 530px;
}

.container-noticia1 .card-container {
    margin: 20px;
    width: 250px;
    height: 400px;
}

.container-imagem {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.imagem {
    width: 100%;
    height: auto;
    display: block;
}

.card-title {
    font-size: 18px;
    padding: 7px 0  ;
}

.card-text {
    font-size: 14px;
    text-align: justify;
}

.card-text span {
    margin-left: 15px;
}

.card-span {
    color: gray;
}

.card-button {
    padding: 10px;
    cursor: pointer;
    background-color: rgba(0, 199, 167, 0.6);
    color: beige;
    font-size: 20px bold;
    border: none;
    margin-top: 20px; 
}