* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: beige;
    background-color: black;
    padding: 20px;
}

header .my-title {
    font-size: 48px;
    margin: 15px;
    text-align: center;
}

.navegation {
    margin-top: 50px;
}

.navegation ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.navegation li {
    text-align: center;
}

.navegation a {
    margin: auto;
    text-decoration: none;
    color: beige;
    cursor: pointer;
    font-size: 18px;
}
