* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: beige;
    background-color: black;
    padding: 20px;
}

header .my-title {
    margin: 15px;
    text-align: center;
}

.navegation {
    display: inline;
}
